<!DOCTYPE html>
<html>

<head>
  <title>Simple Web Form</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col justify-center items-center h-screen bg-white dark:bg-gray-900">
  <section class="bg-white dark:bg-gray-900">
    <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
      <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 ">
        <div
          class="shadow appearance-none border rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          Give us a minute! We are creating your new account: <span
            class="bg-blue-500 rounded-md p-1 text-white">{{name}}</span>
        </div>
        <div class="flow-root pt-6">
          <h1 class="block text-gray-800 font-bold mb-2 float-left">Status:</h1>
          <div id="status" class="float-right"></div>
        </div>
      </div>
    </div>
  </section>
  <script>
    const log = (msg) => {
      const pre = document.getElementById("status");
      const state = document.getElementById(msg.status);
      if (msg.status) {
          if (state && state.innerText.includes('...')) {
            pre.innerHTML = `<span id="${msg.status}" class="bg-amber-400 text-white rounded p-2">${msg.status}..<span>`;
          } else {
            pre.innerHTML = `<span id="${msg.status}" class="bg-amber-400 text-white rounded p-2">${msg.status}...<span>`;
          }

      } else if (msg.error) {
        console.log(msg.error)
        pre.innerHTML = `<div>${msg.error}<div>`;
      }
    };

    // Connect to SSE stream
    const es = new EventSource("/deployment/{{name}}".replaceAll(" ", ""));
    es.onopen = () => log("[SSE] connected");
    es.onmessage = (evt) => {
      // default 'message' events
      try {
        const data = JSON.parse(evt.data);
        log(data);
      } catch {
        log({ "error": "Something happened and we can't update your status" });
      }
    };
    es.addEventListener("hello", () => log("[SSE] hello event"));
    es.onerror = (err) => log("[SSE] error (will auto-retry)");
  </script>
</body>

</html>